/bin/
/obj/

/.vs/
/.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

/packages/
*.nupkg
*.snupkg

*.log
/TestResult*/
/TestResults/

.DS_Store
Thumbs.db

*.pdf

/.idea/
/.ionide/
/.vsconfig
/.direnv/

/publish/
/artifacts/