## Build output
/bin/
/obj/

## User files
/.vs/
/.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## Packages
/packages/
*.nupkg
*.snupkg

## Logs and diagnostics
*.log
/TestResult*/
/TestResults/

## OS junk
.DS_Store
Thumbs.db

## Local artifacts
/FolderForPdf/
*.pdf

## Tooling caches
/.idea/
/.ionide/
/.vsconfig
/.direnv/

## Publish output
/publish/
/artifacts/
