@model string
<style>
    .download-button{
        background-color: aqua;
        color: rgb(52, 47, 47);
        border: none;
        padding: 10px;
        border-radius: 5px;
    }
</style>
<form asp-controller="Home" asp-action="DownloadFile">
    <input type="text" name="path" value="@Model" hidden>
    <button class="download-button" type="submit">Скачать файл</button>
</form>
<a asp-action="DoPayment" asp-controller="Home">Вернуться на главную</a>